In [2]:
'''Exercise 2-1 response: The summary statistics that I would use is the mean pregnancy length for both first born children
and for subsequent children. As we read on page 23, the mean for the length of first pregnancies is 38.601 and the mean for 
the other pregnancies is 38.523. That small difference in mean's show that there is very little, if any truth to the statement 
"First born children always have a longer pregnancy.". 
'''

'Exercise 2-1 response: The summary statistics that I would use is the mean pregnancy length for both first born children\nand for subsequent children. As we read on page 23, the mean for the length of first pregnancies is 38.601 and the mean for \nthe other pregnancies is 38.523. That small difference in mean\'s show that there is very little, if any truth to the statement \n"First born children always have a longer pregnancy.". \n'

In [29]:
from __future__ import print_function

import sys
from operator import itemgetter

import math
import first
import thinkstats2
import nsfg

In [6]:
def CohenEffectSize(group1, group2):
    diff = group1.mean() - group2.mean()
    
    var1 = group1.var()
    var2 = group2.var()
    n1, n2 = len(group1), len(group2)
    
    pooled_var = (n1 * var1 + n2 * var2)/(n1 + n2)
    d = diff / math.sqrt(pooled_var)
    return d

In [9]:
preg = nsfg.ReadFemPreg()
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [32]:
firstPreg, subsequentPreg = [x for _, x in preg.groupby(preg["birthord"] > 1)]

In [37]:
firstPreg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
5,6,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,8.5625
8,7,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3409.579565,3787.539000,6911.879921,2,14,NaN,7.5625
10,12,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3612.781968,4146.013572,6909.331618,1,31,NaN,7.8125

In [38]:
subsequentPreg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875
6,6,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,9.5625
7,6,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,8.3750

In [33]:
firstPreg["totalwgt_lb"].mean()

7.201094430437772

In [34]:
subsequentPreg["totalwgt_lb"].mean()

7.325855614973262

In [35]:
CohenEffectSize(firstPreg["totalwgt_lb"], subsequentPreg["totalwgt_lb"])

-0.08839280497623067

In [36]:
'''Based upon the calculations of the means of the two weights and the Cohen Effect Size, I can confirm that there is
very little impact on the weight of a baby based upon their birth order. In regards to how this compares to the pregnancy
length, we see a similar result. There is little to no effect on the either the weight of the baby or the length of the 
pregnancy.'''

'Based upon the calculations of the means of the two weights and the Cohen Effect Size, I can confirm that there is\nvery little impact on the weight of a baby based upon their birth order. In regards to how this compares to the pregnancy\nlength, we see a similar result. There is little to no effect on the either the weight of the baby or the length of the \npregnancy.'